.title_block{
    background-color: #f9aa33;
    padding: 12px;
}
.white-bg{
    background-color: white;
}
.vertical-separation-line{
    border-right:1px solid rgba(0, 0, 0, 0.1);
}
.space-between{
    justify-content: space-between;
}